.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.container > * {
  margin-top: 10px;
}

.heroText {
  text-align: center;
  font-size: 1.2rem;
}

.noMargin {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
}

.digitsContainer {
  display: flex;
  justify-content: space-around;
}

.input {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  outline: 0;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.input:focus {
  border: 2px solid var(--color-primary);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 13px;
  border: none;
  border-radius: 29px;
  color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  height: 50px;
}

.button:hover {
  opacity: 0.9;
}

.verifyButton {
  background: var(--color-primary);
}

.textColor {
  color: #707070;
}

.link {
  text-decoration: none;
  color: var(--text-link-color);
  font-weight: 500;
}